body{
  background-color:rgb(34, 33, 66);
  width: 100%;
  font-family:Arial, Helvetica, sans-serif;
}

header{
  width:100%;
  border: 2px solid #ffffff;
}

.fa-hippo{
  padding-left: 15px;
}

.navbar{
  background-color: rgb(34, 33, 66);
  font-family: sans-serif;
  display: flex;
}

.navbar-toggler{
  float: right;
  background-color: white;
}

.title{
  padding-left: 5px;

}

.newprojectform{
  background-color: #ffffff;
  align-content: left;
  padding: 5px;
  padding-left: 5px;
  width: 30%;
 
}

.projectlistform{
  flex-grow: 4;
  width: 80%;
  border-right: 0px;
  border-top:solid 2px #ffffff;
  border-bottom: solid 2px #ffffff;
  border-left: solid 2px #ffffff;
  border-right: solid 2px #ffffff;

}

.flexcontainer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: left;
}

.container{
  align-content: left;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  border-right: 0px;
}

.btn{
  background-color: rgb(60, 169, 118);
  margin:5px;
}

.form-group{
  padding: 5px;
}

.border{
  border:3px gray
}

.h3{
  padding-top: 5px;
}

.footer{
  padding: 5px;
  background-color:rgb(34, 33, 66)
}